{
    "globals": {
        "ga": true,
        "chrome": true
    },
    "plugins": ["html", "json"],
    "extends": "elemefe",
    "rules": {
        "indent": ["error", 4],
        "space-before-function-paren": ["error", {
            "anonymous": "never",
            "named": "never",
            "asyncArrow": "always"
        }],
        "no-restricted-globals": ["error", "event", "fdescribe"]
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "jsx": true
        }
    }
}
