@import "common/var";

// Name:            Background
// Description:     Utilities for backgrounds
//
// Component:       `el-background-*`
//
// ========================================================================

/* Color
 ========================================================================== */

.el-background-default { background-color: $--color-white; }
.el-background-muted { background-color: $--background-color-base; }
.el-background-primary { background-color: $--color-primary; }
.el-background-secondary { background-color: $--color-secondary; }

/* Size
 ========================================================================== */

.el-background-cover,
.el-background-contain {
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.el-background-cover { background-size: cover; }
.el-background-contain { background-size: contain; }

/* Position
 ========================================================================== */

// .el-background-top-left { background-position: 0 0; }
// .el-background-top-center { background-position: 50% 0; }
// .el-background-top-right { background-position: 100% 0; }
// .el-background-center-left { background-position: 0 50%; }
// .el-background-center-center { background-position: 50% 50%; }
// .el-background-center-right { background-position: 100% 50%; }
// .el-background-bottom-left { background-position: 0 100%; }
// .el-background-bottom-center { background-position: 50% 100%; }
// .el-background-bottom-right { background-position: 100% 100%; }

/* Repeat
 ========================================================================== */

.el-background-norepeat { background-repeat: no-repeat; }

/* Attachment
 ========================================================================== */

/*
 * 1. Fix bug introduced in Chrome 67: the background image is not visible if any element on the page uses `translate3d`
 */

.el-background-fixed {
    background-attachment: fixed;
    /* 1 */
    backface-visibility: hidden;
}

/*
 * Exclude touch devices because `fixed` doesn't work on iOS and Android
 */

@media (pointer: coarse) {
    .el-background-fixed { background-attachment: scroll; }
}

/* Image
 ========================================================================== */

/* Phone portrait and smaller */
@media (max-width: $--xs-max) {

    .el-background-image\@sm { background-image: none !important; }

}

/* Phone landscape and smaller */
@media (max-width: $--sm-max) {

    .el-background-image\@md { background-image: none !important; }

}

/* Tablet landscape and smaller */
@media (max-width: $--md-max) {

    .el-background-image\@lg { background-image: none !important; }

}

/* Desktop and smaller */
@media (max-width: $--lg-max) {

    .el-background-image\@xl {background-image: none !important; }

}

/* Blend modes
 ========================================================================== */

// .el-background-blend-multiply { background-blend-mode: multiply; }
// .el-background-blend-screen { background-blend-mode: screen; }
// .el-background-blend-overlay { background-blend-mode: overlay; }
// .el-background-blend-darken { background-blend-mode: darken; }
// .el-background-blend-lighten { background-blend-mode: lighten; }
// .el-background-blend-color-dodge { background-blend-mode: color-dodge; }
// .el-background-blend-color-burn { background-blend-mode: color-burn; }
// .el-background-blend-hard-light { background-blend-mode: hard-light; }
// .el-background-blend-soft-light { background-blend-mode: soft-light; }
// .el-background-blend-difference { background-blend-mode: difference; }
// .el-background-blend-exclusion { background-blend-mode: exclusion; }
// .el-background-blend-hue { background-blend-mode: hue; }
// .el-background-blend-saturation { background-blend-mode: saturation; }
// .el-background-blend-color { background-blend-mode: color; }
// .el-background-blend-luminosity { background-blend-mode: luminosity; }
